DATABASE_URL = "postgresql://postgres.xxx:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"
ADMIN_PASS = "your_admin_password"
GMAIL_USER = "your.email@gmail.com"
GMAIL_APP_PASS = "your_gmail_app_password"
APP_URL = "https://your-app.streamlit.app"
