DATABASE_URL = "postgresql://postgres.xxx:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"
ADMIN_PASS = "your_admin_password"
GMAIL_USER = "your.email@example.com"
GMAIL_APP_PASS = "your_app_password"
APP_URL = "https://your-app.streamlit.app"
SMTP_HOST = "mail.gmx.net"
SMTP_PORT = 465
